body {
  margin: 0;
  background-color: rgb(60, 60, 130);
}
.header {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-family: Arial;
  } 
  
 .flex-container1 {
  display: flex;
  width: 100%;
  position: fixed;
}
 a {
  text-decoration: none;
  color: inherit;
 }
.active {
  background-color: #2c334f;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.active:hover {
  background-color:  rgb(255, 255, 255);
  color: black;
}
.menu:hover {
  background-color:  rgb(30, 33, 83);
  color: rgb(255, 255, 255);
}
 .menu {
  background-color: rgb(89, 164, 229);
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}


  .flex-container2 {
    display: flex;
    font-weight: bold;
    font-family: Arial;
    color: white;
    width: 100%;
  }
  
  .blocesquerra1{
    width: 39.9%;
    text-align: center;
    line-height: 45px;
    font-size: 26px;
    font-weight: bold;
    border-width: 3px;
    border-color: white;
    border-style: solid;

  }
  .foto {
    margin-top: 7%;
    border-radius: 40%;
    border: 5px solid  white;
    width: 150px;
    float: left;
    margin-left: 40px;
  }
  hr {
    border: 3px solid white;
  }
  ul {
    text-align: left;
  }
  .blocdreta1 {
    width: 60%;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(30, 33, 83);
    color: white;
    text-align: center;
 }